@model modelList
@using sistema_de_inventario.Models 
@{
    ViewBag.Title = "ActivarCuenta";
    Layout = null;
}

<br /><br />
<center>
    <span><h2>@Model.msjActivarCuenta.response</h2></span>
    <label>Para iniciar sesion ingrese <a href="http://localhost:64699/Home/Index">AQUI</a></label>
    <span>Recuerde que la cuenta esta activa por 15 días. Para obtener una licencia escribenos a peperez1924@gmail.com</span>
</center>
